.formControl.error input,
.formControl.error textarea {
  border: 2px solid #ff2d2d;
}

.formControl.error span {
  color: #ff2d2d;
  font-size: 17px;
}

.formSummaryError {
  width: fit-content;
  padding: 5px 10px;
  border: 2px solid #ff2d2d;
  color: #ff2d2d;
}