.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0;
  box-shadow: 0px 0px 3px #353535aa;
  background: #1b1b1b;
  /* background: linear-gradient(180deg, #282828 60%, #333333) ; */
}

.header img {
  width: 39px;
}

.loginBlock a {
  color: #ffffff;
  text-decoration: none;
}