.nav {
  grid-area: n;
  background: #282828;
  padding: 20px 20px 20px 30px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #353535aa;
}

.item {
  padding: 5px 12px;
  margin: 2px 0;
  border-radius: 3px;
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

.item:hover {
  background: #353535;
}

.item.active {
  background: #353535;
  color: gold;
}